In [1]:
import pandas as pd
import re
import glob
import os
import shutil
import json
from collections import defaultdict

In [5]:
people = pd.DataFrame([['王昕', '20307090013'], ['苏慧怡', '19307090197'], ['赵子昂', '20307090056'], ['王心恬', '19307090134'],
                      ['冷方琼', '20307090139'], ['周人芨', '19307090009'], ['南楠', '20307090155'],
                      ['苏品菁', '20307090170'],['张宇恬', '19307090122'], ['初子菡', '18307090138'], 
                      ['柏柯羽', '20307090147'], ['帕提曼', '19307090210'], ['贺凡熙', '21210170020'], ['施烨昕', ' ']])
people.columns = ['name', 'student_id']

In [6]:
people

   name   student_id
0    王昕  20307090013
1   苏慧怡  19307090197
2   赵子昂  20307090056
3   王心恬  19307090134
4   冷方琼  20307090139
5   周人芨  19307090009
6    南楠  20307090155
7   苏品菁  20307090170
8   张宇恬  19307090122
9   初子菡  18307090138
10  柏柯羽  20307090147
11  帕提曼  19307090210
12  贺凡熙  21210170020
13  施烨昕

In [7]:
start = 400
each = 10
names = people.loc[:, 'name'].values

In [16]:
# 给每个人创建标注任务文件夹并将文件放进去
for i, name in enumerate(names):
    dir_name = '/Volumes/TOURO Mobil/policy标注/政策文件tasks/第二周/{}-第二周'.format(name)
    if not os.path.exists(dir_name):
        os.mkdir(dir_name)
    start_file = start + 10 * i
    end_file = start_file + 10
    for idx in range(start_file, end_file):
        shutil.copytree('/Volumes/TOURO Mobil/policy标注/政策文件rawdata/{}'.format(str(idx)), dir_name+'/{}'.format(str(idx)))

In [17]:
people = pd.DataFrame([['王远', ' '], ['蒋佳钰', ' ']])
people.columns = ['name', 'student_id']
people

  name student_id
0   王远
1  蒋佳钰

In [18]:
start = 540
each = 10
names = people.loc[:, 'name'].values
# 给每个人创建标注任务文件夹并将文件放进去
for i, name in enumerate(names):
    dir_name = '/Volumes/TOURO Mobil/policy标注/政策文件tasks/第二周/{}-第二周'.format(name)
    if not os.path.exists(dir_name):
        os.mkdir(dir_name)
    start_file = start + 10 * i
    end_file = start_file + 10
    for idx in range(start_file, end_file):
        shutil.copytree('/Volumes/TOURO Mobil/policy标注/政策文件rawdata/{}'.format(str(idx)), dir_name+'/{}'.format(str(idx)))

In [ ]:
# start = 560

In [2]:
people = pd.DataFrame([['陈奔逸', ' ']])
people.columns = ['name', 'student_id']
people

  name student_id
0  陈奔逸

In [ ]:
start = 560
each = 10
names = people.loc[:, 'name'].values
# 给每个人创建标注任务文件夹并将文件放进去
for i, name in enumerate(names):
    dir_name = '/Volumes/TOURO Mobil/policy标注/政策文件tasks/第二周/{}-第二周'.format(name)
    if not os.path.exists(dir_name):
        os.mkdir(dir_name)
    start_file = start + 10 * i
    end_file = start_file + 10
    for idx in range(start_file, end_file):
        shutil.copytree('/Volumes/TOURO Mobil/policy标注/政策文件rawdata/{}'.format(str(idx)), dir_name+'/{}'.format(str(idx)))